#home-container {
  display: flex;
  #feed-posts {
      width: 70%;
      padding: 10px;
  }
  #user-friends {
      width: 30%;
      padding: 10px;
      border-left: 1px solid lightgrey;
      height: 100%;
  }
  // Add transition to links
  a {
      transition: color 0.2s ease-in-out;
      &:hover {
          color: #0077cc;
      }
  }
  // Style the form
  #new-post-form {
      display: flex;
      flex-direction: column;
      textarea {
          resize: none;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid lightgrey;
          &:focus {
              outline: none;
              border-color: #0077cc;
          }
      }
      input[type="submit"] {
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          background-color: #0077cc;
          color: white;
          &:hover {
              background-color: #0066b3;
          }
      }
  }
}