#home-container {
  display: flex;
}
#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}
#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 100%;
}
#home-container a {
  transition: color 0.2s ease-in-out;
}
#home-container a:hover {
  color: #0077cc;
}
#home-container #new-post-form {
  display: flex;
  flex-direction: column;
}
#home-container #new-post-form textarea {
  resize: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
#home-container #new-post-form textarea:focus {
  outline: none;
  border-color: #0077cc;
}
#home-container #new-post-form input[type=submit] {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0077cc;
  color: white;
}
#home-container #new-post-form input[type=submit]:hover {
  background-color: #0066b3;
}